<div class="b1">
  <div class="container">
      <div class="left">
          <img src="assets\img\sales.png" alt="temp" style="height:300px; margin-left: 0%; width: 500px;">
      </div>
      <div class="right" [formGroup]="predictForm">
          <div class="form-group">
          <label for="file" class="col-xs-4 control-label" style="text-align:left">Upload your file</label>
          <div class="col-xs-8">
              <input type="file" class="form-control" name="file" formControlName="file" id="file" (change)="onFilechange($event)" >        
              <!-- formControlName="uploadfile" -->
          </div>
          <br><br><br>
          <label for="periodicity" class="col-xs-4 control-label" style="text-align:left">Choose periodicity</label>
          <div class="col-xs-8">
              <select class="form-control" id="periodicity" name="period" formControlName="periodicity"required [(ngModel)]="periodicity">
                  <option value="weekly">Weekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="annual">Annually</option>
                </select>
          </div>
          <br><br><br>
          <label for="num" class="col-xs-4 control-label" style="text-align:left">Enter number of week/month/year</label>
          <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="num" required [(ngModel)]="num">
          </div>
          <br><br><br><br>
          <button class="button" (click)="upload()">Upload</button>
          <button class="button1" (click)="predict()">Predict</button>
      </div>
  <!-- </form> -->
  </div>
  </div>
  </div>