<div class="b1">
    <div class="container1">
        <h1 style="padding-left: 10px;"><b>Sales and Forecast</b></h1>
        <img src="assets\forecast.png" alt="temp" style="height:490px; padding-left: 50px;padding-top:-10px; width:1000px;">
        <!-- style="height:500px; margin-left: 0%; width:700px;" -->
    </div>
    <div class="container2">
        <h1 style="padding-left: 10px;"><b>Sales Vs Forecast</b></h1>
        <img src="assets\predict.png" alt="temp" style="padding-left: 10px;">
        <!-- style="height:500px; margin-left: 0%; width: 600px;" -->
        <div class="right">
            <h2 style="padding-left: 30%;"><b>Result:</b></h2>
            <ul>
                <li>rmse:<span>{{rmse}}</span></li>
                <li>mae:<span>{{mae}}</span></li>
            </ul>
        </div>
    </div>
    <br><br>
</div>

